# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Environment Variables & Secrets
.env
*.env
config/google_service_account.json

# OS & IDE
.DS_Store
.vscode/
.idea/

# Streamlit local state
.streamlit/secrets.toml

# Temporary logs
*.log
scratch/
